{% extends 'membre_template/base_template.html' %}
{% block page_title %} 
Liste des Membres <a href="{% url 'export_membres_csv' %}" class="btn btn-primary">Export to CSV</a> <a href="{% url 'add_membre' %}" class="btn btn-primary">Ajouter Nouveau Membre</a>
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Membre Details </h3>
      
                      <div class="card-tools">
                        <form>
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="p" class="form-control float-right" placeholder="Search">
      
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            <a href="{% url 'manage_membre' %}" class="btn btn-dark" style="margin-left: 2px";><i class="fas fa-sync-alt"></i></a>
                          </div>
                        </div>
                      </form>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            
                            <th>Code Membre</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>

                            <th>NIF / CIN</th>
                            <th>Telephone 1</th>
                            <th>Telephone 2</th>
                            <th>Profile Pic</th>
                            <th>Actif</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                            {% for membre in membres %}
                          <tr>
                            
                            <td>{{ membre.codep }}</td>
                            <td>{{ membre.admin.first_name }}</td>
                            <td>{{ membre.admin.last_name }}</td>
                            <td>{{ membre.admin.email }}</td>

                            <td>{{ membre.nifp }}</td>
                            <td>{{ membre.telephone1p }}</td>
                            <td>{{ membre.telephone2p }}</td>
                            <td><img src="{{ membre.profile_pic }}" style="width:50px"/></td>
                            <td>
                              {% if membre.membre_actif == True %}
                              <button type="button" class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#reply_modal"> OUI </button>
                              {% else %}
                              <button type="button" class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">NON</button>
                              {% endif %}

                            </td>
                           
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- Pagination -->
                    <nav class="mt-4">
                      {% if membres.has_other_pages %}
                      <ul class="pagination justify-content-left">
                        {% if membres.has_previous %}
                        <a href="?page= 1 " class="btn btn-outline-primary mb-4" style="width: 69 px; border-radius:1px; border:1px solid #d3d3d3; border-left: 1px;">First</a>
                        <li class="page-item"><a class="page-link" href="?page={{ membres.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                        {% else %}
                        <li class="page-item disabled"></li>
                        {% endif %}
                        
                        {% for i in membres.paginator.page_range %}
                          {% if membres.number == 1 %}
                          <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                          {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}

                        {% if membres.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ membres.next_page_number }}" ><i class="fas fa-angle-double-right"></i></a></li>
                        <a href="?page={{ membres.paginator.num_pages }}" class="btn btn-outline-primary mb-4" style="width:60px; border-radius:1px; border:1px solid #d3d3d3; border-left: 1px;">Last</a>
                        {% else %}
                        <li class="page-item disabled"></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                    </nav>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
        </div>
    </section>
      <!-- /.content -->
{% endblock main_content %}