{% extends 'adm_template/base_template.html' %}
{% block page_title %}
 List Of Companies
 {% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                        
                    <a href="{% url 'add_compagnie' %}" class="btn btn-primary">ADD</a> 
                      
                      <div class="card-tools">
                        <form>
                            <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="q" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            <a href="{% url 'manage_compagnie' %}" class="btn btn-dark" style="margin-left: 2px";><i class="fas fa-sync-alt"></i></a>
                            </div>
                            </div>
                      </form>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            
                            <th>Code compagnie</th>
                            <th>Nom Compagnie</th>
                            <th>Adresse 1</th>
                            <th>Adresse 2</th>
                            <th>Telephone 1</th>
                            <th>Telephone 2</th>
                            <th>Telephone 3</th>
                            <th>Logo</th>
                            <th>Email</th>
                            <th>Site Web </th>
                            <th>Statut </th>
                            <th>Action </th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for compagnie in compagnie_info %}
                          <tr>
                            <td>{{ compagnie.code_compagnie }}</td>
                            <td>{{ compagnie.compagnie }}</td>
                            <td>{{ compagnie.adresse }}</td>
                            <td>{{ compagnie.adresse2 }}</td>
                            <td>{{ compagnie.phone}}</td>
                            <td>{{ compagnie.phone2 }}</td>
                            <td>{{ compagnie.phone3 }}</td>
                            <td>{{ compagnie.logoPath }}</td>
                            <td>{{ compagnie.email }}</td>
                            <td>{{ compagnie.siteweb }}</td>
                            <td>
                              {% if compagnie.statut  == "ENABLE" %}
                              <button type="button" class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">ENABLED</button>
                              {% else %}
                              <button type="button" class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">DISABLED</button>
                              {% endif %}
                            </td>
                            <td><a href="/edit_compagnie/{{ compagnie.id }}" class="btn btn-success">Edit</a></td><td><a href="{% url 'supprimer_compagnie' compagnie.code_compagnie %}" class="btn btn-danger">Supprimer</a></td><td>{% if compagnie.statut  == "ENABLE" %} <a href="/desactiver_compagnie/{{ compagnie.id }}" class="btn btn-warning"> DESACTIVER</a> {% else %} <a href="/activer_compagnie/{{ compagnie.id }}" class="btn btn-primary">ACTIVER</a> {% endif %}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
        </div>
    </section>
      <!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script>
$(document).ready(function() {
  $(".btn-danger").on("click", function(event) {
    event.preventDefault(); // Empêche le lien de fonctionner immédiatement

    // Afficher une boîte de dialogue de confirmation
    var result = confirm("Voulez-vous vraiment supprimer cette cotisation ?");

    // Si l'utilisateur clique sur "OK" dans la boîte de dialogue, rediriger vers la vue de suppression
    if (result) {
      window.location.href = $(this).attr("href");
    }
  });
});
</script>
<script>
    $(document).ready(function() {
      $(".btn-warning").on("click", function(event) {
        event.preventDefault(); // Empêche le lien de fonctionner immédiatement
    
        // Afficher une boîte de dialogue de confirmation
        var result = confirm("Voulez-vous vraiment Desactiver cette Compagnie ?");
    
        // Si l'utilisateur clique sur "OK" dans la boîte de dialogue, rediriger vers la vue de suppression
        if (result) {
          window.location.href = $(this).attr("href");
        }
      });
    });
    </script>
    <script>
        $(document).ready(function() {
          $(".btn-primary").on("click", function(event) {
            event.preventDefault(); // Empêche le lien de fonctionner immédiatement
        
            // Afficher une boîte de dialogue de confirmation
            var result = confirm("Voulez-vous vraiment Acctiver cette Compagnie ?");
        
            // Si l'utilisateur clique sur "OK" dans la boîte de dialogue, rediriger vers la vue de suppression
            if (result) {
              window.location.href = $(this).attr("href");
            }
          });
        });
        </script>
{% endblock custom_js %}