{% extends 'hod_template/base_template.html' %}
{% block page_title %} 
AJOUTER MEMBRE
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                  <!-- general form elements -->
              <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Add Membre</h3>
                      <form role="form" action="/add_membre_save" method="post">
                      <input type="hidden"  name="muso_id" value="{{ user.muso.id }}">
                      </form>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {% url 'add_membre_save' as action_path %}
                   {% include 'hod_template/form_template.html' with  messages=messages form=form action_path=action_path  button_text="Add Membre" %}
            </div>
        </div>
      </div>
    </section>
      <!-- /.content -->
      {% endblock main_content %}
      {% block custom_js %}
  <script>
      $(document).ready(function(){
        $("#id_email").keyup(function(){
            var email=$(this).val();
            if(email!=""){
              $.ajax({
                url:'{% url "check_email_exist" %}',
                type:'POST',
                data:{email:email}
              })
              .done(function(response){
                console.log(response);
                if(response=="True"){
                  $(".email_error").remove();
                  $("<span class='email_error' style='padding:5px;color:red; font-weight:bold;'> Email Not AVailable </span>").insertAfter("#id_email");
                }
                else{
                  $(".email_error").remove();
                  $("<span class='email_error' style='padding:5px;color:green; font-weight:bold;'> Email  AVailable </span>").insertAfter("#id_email");
                }
                })
              .fail(function(){
                console.log("failed");
              })
          }
          else{
              $(".email_error").remove();
          }
        });

        $("#codep").keyup(function(){
            var codep=$(this).val();

            if(codep!=""){
              $.ajax({
                url:'{% url "check_codep_exist" %}',
                type:'POST',
                data:{codep:codep}
              })
              .done(function(response){
                console.log(response);
                if(response=="True"){
                  $(".codep_error").remove();
                  $("<span class='codep_error' style='padding:5px;color:red; font-weight:bold;'> Username Not AVailable </span>").insertAfter("#id_username");
                }
                else{
                  $(".codep_error").remove();
                  $("<span class='codep_error' style='padding:5px;color:green; font-weight:bold;'> Username  AVailable </span>").insertAfter("#id_username");
                }
                })
              .fail(function(){
                console.log("failed");
              })
          }
          else{
              $(".codep_error").remove();
          }
          
        });
     });
  </script>
      {% endblock custom_js %}