{% extends 'hod_template/base_template.html' %}
{% block page_title %} 
<a href="{% url 'add_membre' %}" class="btn btn-primary">AJOUTER NOUVEAU EMPLOYE </a> 
 <br> Liste des Employes
 {% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">EMPLOYE Details </h3>
      
                      <div class="card-tools">
                        <form>
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="q" class="form-control float-right" placeholder="Search">
      
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            <a href="{% url 'manage_membre' %}" class="btn btn-dark" style="margin-left: 2px";><i class="fas fa-sync-alt"></i></a>
                          </div>
                        </div>
                      </form>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            
                            <th>Id Employe</th>
                            <th>Nom </th>
                            <th>Prenom</th>
                            <th>Sexe</th>

                            <th>CIN</th>
                            <th>NIF</th>
                            <th>Phone Mobile</th>
                            <th>Phone House</th>
                            <th>Adresse</th>
                            <th>Email</th>
                            <th>Credit Limit</th>
                            <th>Account</th>
                            <th>Statut</th>
                            <th>photo</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for employe in employe_info %}
                          <tr>
                            
                            <td>{{ employe.codep }}</td>
                            <td>{{ employe.admin.first_name }}</td>
                            <td>{{ employe.admin.last_name }}</td>
                            <td>{{ employe.sexep }}</td>
                            <td>{{ employe.cin}}</td>
                            <td>{{ employe.nif }}</td>
                            <td>{{ employe.tel_mob }}</td>
                            <td>{{ employe.tel_house }}</td>
                           
                            <td>{{ employe.adresse }}</td>
                            <td>{{ employe.admin.email }}</td>
                            <td>{{ employe.credit_limit }}</td>
                            <td>{{ employe.account }}</td>
                            <td>
                              {% if employe.membre_actif == True %}
                              <button type="button" class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#reply_modal"> ENABLE </button>
                              {% else %}
                              <button type="button" class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">DISABLE</button>
                              {% endif %}

                            </td>
                            <td><img src="{{ employe.profile_pic }}" style="width:50px"/></td>
                           
                            <td> <a href="/edit_employe/{{ employe.admin_id }}" class="btn btn-success">Edit</a>   <a href="{% url 'supprimer_employe'  employe_id=employe.admin.id %}" class="btn btn-danger"> Supprimer </a> <td>{% if employe.membre_actif  == 1 %} <a href="/desactiver_employe/{{ employe.codep }}" class="btn btn-warning"> DESACTIVER</a> {% else %} <a href="/activer_employe/{{ employe.codep }}" class="btn btn-primary">ACTIVER</a> {% endif %}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- Pagination -->
                    <nav class="mt-4">
                      {% if employe_info.has_other_pages %}
                      <ul class="pagination justify-content-left">
                        {% if employe_info.has_previous %}
                        <a href="?page= 1 " class="btn btn-outline-primary mb-4" style="width: 69 px; border-radius:1px; border:1px solid #d3d3d3; border-left: 1px;">First</a>
                        <li class="page-item"><a class="page-link" href="?page={{ employe_info.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                        {% else %}
                        <li class="page-item disabled"></li>
                        {% endif %}
                        
                        {% for i in employe_info.paginator.page_range %}
                          {% if employe_info.number == 1 %}
                          <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                          {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}

                        {% if employe_info.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ employe_info.next_page_number }}" ><i class="fas fa-angle-double-right"></i></a></li>
                        <a href="?page={{ employe_info.paginator.num_pages }}" class="btn btn-outline-primary mb-4" style="width:60px; border-radius:1px; border:1px solid #d3d3d3; border-left: 1px;">Last</a>
                        {% else %}
                        <li class="page-item disabled"></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                    </nav>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
        </div>
    </section>
      <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
$(document).ready(function() {
  $(".btn-danger").on("click", function(event) {
    event.preventDefault(); // Empêche le lien de fonctionner immédiatement

    // Afficher une boîte de dialogue de confirmation
    var result = confirm("Voulez-vous vraiment supprimer cet employe ?");

    // Si l'utilisateur clique sur "OK" dans la boîte de dialogue, rediriger vers la vue de suppression
    if (result) {
      window.location.href = $(this).attr("href");
    }
  });
});
</script>
{% endblock custom_js %}